<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  
  <body>
    <h1>What do you know about equalization?</h1>
      <form method=POST> 
        <p>If implemented, will the Equality Act amend existing civil right laws to explicitly include sexual orientation and gender identity as protected characteristics? </p>
          <input type="radio" name="question3" value="Correct">Yes
          <input type="radio" name="quesiton1" value="answer2">No 
          
        <p>When is Womens Equality Day?</p>
          <input type="radio" name="quesiton1" value="answer1">February 17
          <input type="radio" name="question1" value="answer2">May 26 
          <input type="radio" name="quesiton3" value="Correct">August 26  <!-- question3 == every answer that is considered correct once the user interacts. Every other answer name=question1 --> 
    
        <p>What Amendment of the United States Constitution prohibits states and the federal government from denying ones right to vote on the basis of gender?</p>
          <input type="radio" name="quesiton1" value="answer1">21st Amendment 
          <input type="radio" name="quesiton3" value="Correct">19th Amendment
          <input type="radio" name="quesiton1" value="answer3">10th Amendment 
          
          <p>
          <input type="submit" value="Sumbit Quiz">
          </p> 

        
      </form> 
  </body>
</html>