<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  
  <body>
    <h1>What do you know about gun control?</h1>
      <form method=POST> 
        <p>How many guns are there in the U.S.?</p>
          <input type="radio" name="question1" value="answer1">143 million
          <input type="radio" name="quesiton2" value="answer2">278 million
          <input type="radio" name="quesiton3" value="answer3" >310 million
          <input type="submit" value="Correct?" target= "_blank">
        <p>True or False: A resident living in Pennsylvania is allowed to carry a concealed firearm even if they DO NOT have a valid Pennsylvania License to Carry Firearm.</p>
          <input type="radio" name="quesiton1" value="answer1">True 
          <input type="radio" name="question3" value="correct">False 
          <input type="submit" value="Correct?" target= "_blank">
        <p>How many school shootings occured in 2017?</p>
          <input type="radio" name="quesiton1" value="answer1">53 
          <input type="radio" name="quesiton3" value="correct">65
          <input type="radio" name="quesiton1" value="answer3">76
          <input type="submit" value="Correct?" target= "_blank">
      </form> 
  </body>
</html>