<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>results!</title>
 </head>
 <body>
 <h1>Being wrong is completely fine. Our mission is to inform!</h1>
 <%=@myresult%>
 </body>
</html>
